body {
background-image: url(../img/nurulk.png);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
min-width: auto;

}

  hr {

    border-style: none;
    border-top-style: dotted;
    border-color: rgb(255, 255, 255);
    border-width: 8px;
    width: 5%;
  }

  h1 {
    color: rgb(114, 244, 248);
  }

  h3 {
    color: rgb(136, 21, 6);
  }
